body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* CSS */
.button{
  background-color: #949494;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover,
.button:focus {
  background-color: #F082AC;
  color: #FFFFFF;
}

.button.button-primary {
  background-color: #ec5d5d;
}

.button.button-secondary {
  background-color: #f2689d;
  color: #FFFFFF;
}

.button.button-danger:focus {
  background-color: #af3939;
  color: #FFFFFF;
}

.button.button-primary:focus, .button.button-primary:hover {
  background-color: #e9aaaa;
}

.button.button-secondary:focus {
  background-color: #f2b7ce;
}