.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: #f28888;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.navbar__logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    text-decoration: none;
}

.navbar__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(36, 80, 95);
    text-decoration: none;
}

.navbar__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navbar__links li {
    margin: 0 0.5rem;
}

.navbar__links a {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    text-decoration: none;
}
